/.vscode
/build
/.settings
/.clangd
/.cache
CMakeCache.txt
build.ninja
compile_commands.json
CMakePresets.json
CMakeFiles
Makefile
cmake_install.cmake

.idea/

.DS_Store
target/rust-analyzer/flycheck0/
